.homepage-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: 0rem;
    animation: fadeInUp 500ms ease-out;
}

.category-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  width: 100%;
  max-width: 64rem; /* max-w-4xl */
}

@media (min-width: 768px) {
  .category-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.category-card {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  height: 12rem; /* h-48 */
  color: white;
  font-size: 2.25rem; /* text-4xl */
  font-weight: 800; /* font-extrabold */
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.category-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.category-card:hover .category-image {
  transform: scale(1.1);
}

.category-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.category-card:hover .category-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.category-name {
  text-transform: capitalize;
}

@media (min-width: 768px) {
  .category-card {
    height: 10rem;   }
}
